<!DOCTYPE html>
<html ng-app="myFood">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <title>Food Calorie App</title>
</head>
<body>
  <div class="container" ng-controller="FoodCtrl">
    <h1> Food Calorie App </h1>
      <table class="table">
        <thead>
          <tr>
            <th>Food</th>
            <th>Weight</th>
            <th>Calories</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input ng-model=food.name></td>
            <td><input ng-model=food.weight></td>
            <td><input ng-model=food.calories></td>
            <td><button class="btn btn-primary" ng-click="addFood()">Add Food!</button>

          </tr>
          <tr ng-repeat="food in foodlist">
            <td>{{food.name}}</td>
            <td>{{food.weight}}</td>
            <td>{{food.calories}}</td>
            <td><button ng-click="remove(food._id)">Remove Food!</button></td>
          </tr>
        </tbody>
      </table>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="Controllers/controller.js"></script>

</body>
</html>
